<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selección de Proyecto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Selecciona el Proyecto</h1>
        <div class="button-group">
            <a href="{{ url_for('terminal_inteligente') }}" class="button">Terminal Inteligente</a>
            <a href="{{ url_for('subastas_publicas') }}" class="button">Subastas Públicas</a>
        </div>
    </div>
</body>
</html>
